---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Makeina AI',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >

    <Fragment slot="subtitle">
        <span class="hidden sm:inline" style="font-size: 40px;">
          Welcome to Makeina AI! As an award-winning startup, we are at the forefront of cutting-edge advancements, 
          harnessing the power of AI-powered automation, low-code platforms, and vision language models to redefine 
          the future of business.
        </span>
    </Fragment>
  </Hero>

  
  <div style="width: 80%; margin: auto;">
    <!-- Content Widget **************** -->
    <Content
      isReversed
      image={{
        src: '~/assets/images/our-mission.png',
        alt: 'Colorful Image',
        className: 'w-full h-auto !object-contain'
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Mission</h3>
        At Makeina AI, we believe in the limitless potential of technology to streamline processes, 
        empower organizations, and create unprecedented efficiency. Our AI-powered solutions are 
        reshaping the landscape of administration, enabling businesses to operate with unmatched precision and agility.
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->

    <Content
      isAfterContent
      image={{
        src: '~/assets/images/beyond-innovation.png',
        alt: 'Blueprint Image',
        className: 'w-full h-auto !object-contain'
      }}
    >
      <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Beyond Innovation</h3>
          Innovation is in our DNA, but it’s our passion for problem-solving that sets us apart. 
          We thrive on challenges, turning obstacles into opportunities and pushing the boundaries 
          of what’s possible. With our forward-thinking approach, we empower businesses to embrace 
          the future with confidence, knowing that they have a partner they can trust every step of the way.
        </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>
  </div>
  
  <!-- Feature Widget **************** -->

  <!-- tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023 and 2024." 
    this is for Features Element, Just Saving
  
    -->

  <Features
    id="features"
    
    items={[
      {
        title: 'AI-POWERED AUTOMATION',
        description:
          'We specialize in developing AI-powered automation solutions that redefine business processes. Our technology streamlines operations, reduces manual effort, and enhances productivity, allowing organizations to focus on strategic goals.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'LOW-CODE DEVELOPMENT',
        description:
          'Our expertise in low-code platforms accelerates software development, enabling rapid iteration and deployment of applications. This approach not only saves time but also allows businesses to adapt quickly to changing market needs.',
        icon: 'tabler:components',
      },
      {
        title: 'VISION LANGUAGE MODELS',
        description:
          'At Makeina AI, we leverage vision language models to enhance the understanding and interpretation of visual data. This cutting-edge technology opens up new opportunities for advanced data analysis ',
        icon: 'tabler:list-check',
      },
      {
        title: 'AI COMPUTER VISION',
        description:
          'With our AI Computer Vision solutions, we are unlocking new dimensions of possibility. Our technology is revolutionizing industries by enhancing CCTV surveillance and visual inspection processes, providing unparalleled precision and accuracy.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Careers Section **************** -->
  <div style="width: 80%; margin: auto; padding-top: 150px">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Careers</h3>
    <p>
      At Makeina AI, you’ll get access to the OpenAI GPT-4 and GPT-4o (text, images, audio, video) API and models, opening up opportunities to grow your professional expertise. 
      You’ll also have access to online courses about prompt engineering, providing continuous learning and professional development.
    </p>
  </div>

  <!-- Developers Content Widget **************** -->
  <div style="width: 60%; margin: auto;">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Current Internship Openings</h3>
    <Content
      isReversed
      image={{
        src: '~/assets/images/realtime-dev.png',
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Realtime API Developer</h3>
        Responsibilities include developing long-lived WebSocket connections and building realtime voicebots. 
      </Fragment>
    </Content>

    <Content
      isAfterContent
      image={{
        src: '~/assets/images/fullstack-dev.png',
        alt: 'Blueprint Image',
      }}
    >
      <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Full Stack Developer</h3>
          Engage in front-end and back-end development to build comprehensive AI solutions which will be sold as SaaS.
        </Fragment>
    </Content>

    <Content
      isReversed
      isAfterContent
      image={{
        src: '~/assets/images/artificial-dev.webp',
        alt: 'Astronauts Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Artificial Intelligence</h3>
        Work on cutting-edge AI projects and gain hands-on experience with state-of-the-art technologies.
      </Fragment>
    </Content>
  </div>

  <!-- Stats Widget ****************** -->

  <!-- CallToAction Widget *********** -->

  <CallToAction>
    <Fragment slot="title">
      Great Company with great people
    </Fragment>

    <Fragment slot="subtitle">
      Pros: Great flexibility in work and nice work benefits. 
      I loved the startup proactive mindset and it was so great and 
      inspiring to work with such innovative team and new technology 
      which immensely transforms 2+ different industries
    </Fragment>
  </CallToAction>

  
</Layout>
